* {
    box-sizing: border-box;
  }

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  button.delete {
    float: left;
    background-color: #E1332D;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .contactinfo {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #3d3535;
  }

  p {
    color: white;
    font-family: Helvetica;
  }

  button {
    font-size: .65em;
    color: #fff;
    background-color: green;
    border-radius: 10px;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: rgb(73, 3, 3);
  }

  .submit {
    font-size: .65em;
    color: #fff;
    background-color: green;
    border-radius: 10px;
    background-color: #E1332D
  }

  header {
    background-color: #4caf50;
    margin: 0 auto;
    height: 50px;
  }

  h1 {
    padding: 10px;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: turquoise;
    text-align: center;
  }

  input[type=text] {
    background-color: #3CBC8D;
    color: white;
  }

  input[type=text]:focus {
    background-color: darkblue;
  }

  h3 {
    color: wheat;
    border-radius: 10px;
    font-family: Helvetica;
  }
  
  span{
    color: wheat
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: greenyellow;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(182, 26, 26, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }