* {
    box-sizing: border-box;
  }

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  button.delete {
    float: left;
    background-color: #E1332D;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .contactinfo {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #3d3535;
  }

  p {
    color: white;
    font-family: Helvetica;
  }

  button {
    font-size: .65em;
    color: #fff;
    background-color: green;
    border-radius: 10px;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: black;
  }

  .submit {
    font-size: .65em;
    color: #fff;
    background-color: green;
    border-radius: 10px;
    background-color: #E1332D
  }

  header {
    background-color: #4caf50;
    margin: 0 auto;
    height: 50px;
  }

  h1 {
    padding: 10px;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: turquoise;
    text-align: center;
  }

  input[type=text] {
    background-color: #3CBC8D;
    color: white;
  }

  input[type=text]:focus {
    background-color: darkblue;
  }

  h3 {
    color: wheat;
    border-radius: 10px;
    font-family: Helvetica;
  }